/***************/
/***** Bets *****/
/***************/
.bet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 4rem 20rem;
    grid-template-areas: "title title title"
                         "teamA stats teamB";
    justify-content: center;
    align-items: center;
}

.bet__title {
    grid-area: title;
    justify-self: center;
    align-self: center;
}

.bet__teamA {
    grid-area: teamA;
}

.bet__teamB {
    grid-area: teamB;
}

.bet__stats {
    grid-area: stats;
}

.bet__teamA, 
.bet__teamB {
    border: 1px dashed black;
}

/***** Team Grid *****/
.bet__team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 1.5fr;
    grid-template-areas: "title title"
                         "pool mine"
                         "input input"
                         "btn btn";
    justify-content: center;
    align-items: center;
}

.bet__team__title {
    grid-area: title;
    justify-self: center;
    align-self: center;
}

.bet__team__pool {
    grid-area: pool;
    justify-self: center;
    align-self: center;
}

.bet__team__mine {
    grid-area: mine;
    justify-self: center;
    align-self: center;
}

.bet__team__input {
    grid-area: input;
    justify-self: center;
    align-self: center;
}

.bet__team__btn {
    grid-area: btn;
    justify-self: center;
    align-self: center;
}

/***** Stats Grid *****/
.bet__stats {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "spreadTitle"
                         "spreadStats"
                         "winTitle"
                         "winAmount";
    */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}