.sign-up {
    display: block;
    margin-bottom: 3rem;
  }
  
  .log-in {
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 4%
  } 
  
  .App__Aside {
    width: 50%;
    background-color: #66DAC7;
  }
  
  .App__Form {
    width: 50%;
    background-color: #2E4158;
    padding: 25px 40px;
    overflow: auto;
  }
  
  /* .PageSwitcher {
    margin-bottom: 3%;
  } */
  
  .pageSwitcher__item {
    /* background-color: #4C5D72; */
    color: #9DA6B1;
    padding: 5px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .pageSwitcher__item--active {
    /* background-color: #5ED0C0; */
    color: black;
  }
  
  .pageSwitcher__item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .pageSwitcher__item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  .formCenter {
    margin-bottom: 100px;
    text-align: center;
    margin-top: 10rem;
  }
  
  .formTitle {
    color: #707C8B;
    font-weight: 300;
    margin-bottom: 50px;
  }
  
  .formTitle__Link {
    color: #707C8B;
    text-decoration: none;
    display: inline-block;
    font-size: 1.7em;
    margin: 0 10px;
    padding-bottom: 5px;
  }
  
  .formTitle__link:first-child {
    margin-left: 0;
  }
  
  .formTitle__link--Active {
    color: white;
    border-bottom: 1px solid #199087;
  }
  
  .formField {
    /* padding-right: 2rem; */
  }
  
  .formField__label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: white;
  }
  .formField__input {
    width: 15%;
    background-color: transparent;
    /* border: none; */
    color: black;
    outline: none;
    /* border-bottom: 1px solid #445366; */
    font-size: 1em;
    font-weight: 300;
    margin-top: 10px;
    width: 20%;
    height: 60px;
    border-radius: 20px;
    padding-left: 1rem;
    border: solid 2px #1881c3;
  }
  
  .formField__input::placeholder {
    color: #616E7F;
  }
  
  .formField__button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    /* border-radius: 25px; */
    padding: 10px 70px;
    font-size: .8em;
    font-weight: 500;

    /* width: 299px;
    height: 101px; */
    border-radius: 50px;
    background-image: linear-gradient(108deg, #1881c3, #33bde8);
  }
  
  .formField__link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }

  
  .FormCenter div:last-child {
    margin-top: 1rem;
  }