.dashboard__maincontainer {
    display: grid;
    width: 98%;
    height: 100%;
    grid-template-areas: "dashboard__betting dashboard__games"
    "dashboard__betting dashboard__games";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 80px;
  }
  .container > div {
    border: 1px dashed #888;
  }
  
  .dashboard__betting {
    grid-area: dashboard__betting;
    background-color: #004976;

  }
  .dashboard__game {
    grid-area: dashboard__games;
  }