.ul {
  align-items: center;
  background-color: #9b9b9b;
  display: flex;
  padding: 0;
  margin: 0;
}

.ul__nav--logging {
  margin-right: 20px;
  margin-left: auto;
}

.ul__nav--link {
  margin-left: 20px;
}